<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <%- include('./template/nav.ejs') %>
    <h1>Home</h1>
    <h2>This is My Home page</h2>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorum minus asperiores quos doloremque veritatis, at aliquid facere aspernatur optio illum, velit, soluta iste placeat eaque laboriosam qui sit neque. Nihil?</p>
</body>
</html>